* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: "100%";
  padding-left: 3em;
  padding-right: 3em;
}

.header__title {
  font-family: "Nanum Myeongjo", serif;
  color: #0d898b;
  font-size: 70px;
  font-weight: 200;
}

.nav__button {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #0d8986;
  background-color: #eeeeff;
  text-decoration: none;
  border: 2px solid #0d898b;
  border-radius: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav__button:hover {
  background-color: #13070c;
  border: 2px solid #13070c;
  color: white;
}

.taskView {
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskView__iconContainer {
  width: 25em;
  height: 9em;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.taskView__button {
  border: 0;
  border-radius: 5em;
  background-color: white;
}

.taskView__button:hover {
  background-color: #0d898b;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #0d898b;
  height: 20em;
  width: 25em;
  border-radius: 2rem;
  border: 2px solid white;
}

.card__title {
  font-family: "Roboto", sans-serif;
  color: #13070c;
  font-size: 190px;
  font-weight: 400;
}
