* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeff;
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: "100%";
  padding-left: 3rem;
  padding-right: 3rem;
}

.header__title {
  font-family: "Nanum Myeongjo", serif;
  color: #0d898b;
  font-size: 70px;
  font-weight: 200;
}

.nav__button,
.intro__button,
.end__button {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #0d8986;
  background-color: #eeeeff;
  text-decoration: none;
  border: 2px solid #0d898b;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav__button {
  border-radius: 2rem;
}

.nav__button:hover,
.intro__button:hover,
.end__button:hover {
  background-color: #13070c;
  border: 2px solid #13070c;
  color: white;
}

.welcome,
.intro,
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.welcome__title,
.intro__title,
.end__title {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 1rem;
}

.welcome__text,
.intro__text,
.end__text {
  font-size: 40px;
  font-weight: 200;
  margin-top: 1rem;
}

.welcome__form {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 370px;
  position: relative;
}

.welcome__form__input {
  height: 35px;
  width: 220px;
  padding: 5px;
  border: 1px solid #13070c;
  border-radius: 4px;
}

.welcome__form__button {
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 5em;
  background-color: white;
}

.welcome__form__button__icon:hover {
  color: #0d898b;
}

.welcome__error {
  color: red;
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #0d898b;
}

.intro__text__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.intro__text__icon {
  font-size: 34px;
}

.intro__button {
  margin-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.taskView {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.taskView__button {
  border: 0;
  border-radius: 5rem;
  background-color: white;
  position: absolute;
  top: 58vh;
}

.taskView__button__icon {
  font-size: 100px;
}

.taskView__button__icon:hover {
  color: #0d898b;
}

.end__button {
  margin-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #0d898b;
  height: 20rem;
  width: 25rem;
  border-radius: 2rem;
  border: 1px solid #13070c;
  box-shadow: 2px 2px 3px #605459;
}

.card__title {
  font-family: "Roboto", sans-serif;
  color: #13070c;
  font-size: 190px;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #0d898b;
}

@media only screen and (max-width: 1024px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }

  .header__title {
    font-size: 60px;
    margin-bottom: 1.5rem;
  }

  .nav__button,
  .intro__button,
  .end__button {
    font-size: 12px;
  }

  .welcome__title,
  .intro__title,
  .end__title {
    font-size: 50px;
  }

  .welcome__text,
  .intro__text,
  .end__text {
    font-size: 30px;
  }

  .intro__text__icon {
    font-size: 24px;
  }

  .footer {
    width: 100vw;
    right: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    height: 18rem;
    width: 22.5rem;
  }

  .taskView__button__icon {
    font-size: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .header__title {
    font-size: 50px;
  }

  .welcome,
  .intro,
  .end {
    padding-left: 3em;
    padding-right: 3em;
  }

  .welcome__title,
  .intro__title,
  .end__title {
    font-size: 40px;
  }

  .welcome__text,
  .intro__text,
  .end__text {
    font-size: 30px;
    margin-top: 2rem;
  }

  .intro__text__icon {
    font-size: 22px;
  }

  .welcome__form {
    flex-direction: column;
  }

  .welcome__form__button {
    position: static;
    margin-top: 2em;
  }

  .taskView__button {
    top: 48vh;
  }

  .taskView__button__icon {
    font-size: 70px;
  }

  .card {
    height: 12rem;
    width: 15rem;
  }

  .card__title {
    font-size: 120px;
  }
}

@media only screen and (max-width: 360px) {
  .header__title {
    font-size: 40px;
  }
}
