* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeff;
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: "100%";
  padding-left: 3em;
  padding-right: 3em;
}

.header__title {
  font-family: "Nanum Myeongjo", serif;
  color: #0d898b;
  font-size: 70px;
  font-weight: 200;
}

.nav__button,
.intro__button,
.end__button {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #0d8986;
  background-color: #eeeeff;
  text-decoration: none;
  border: 2px solid #0d898b;
  border-radius: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav__button:hover,
.intro__button:hover,
.end__button:hover {
  background-color: #13070c;
  border: 2px solid #13070c;
  color: white;
}

.welcome,
.intro,
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15em;
  padding-top: 5em;
  padding-left: 8em;
  padding-right: 8em;
  text-align: center;
}

.welcome__title,
.intro__title,
.end__title {
  font-size: 70px;
  font-weight: 200;
}

.welcome__text,
.intro__text,
.end__text {
  font-size: 40px;
  font-weight: 200;
  margin-top: 1em;
}

.welcome__form {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 370px;
  position: relative;
}

.welcome__form__input {
  height: 35px;
  width: 220px;
  padding: 5px;
  border: 1px solid #13070c;
  border-radius: 4px;
}

.welcome__form__button {
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 5em;
  background-color: white;
}

.welcome__form__button__icon:hover {
  color: #0d898b;
}

.welcome__error {
  color: red;
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #0d898b;
}

.intro__text__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.intro__text_icon {
  margin-left: 0.7em;
  margin-bottom: 0.1em;
}

.intro__button {
  margin-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.taskView {
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskView__iconContainer {
  width: 25em;
  height: 9em;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.taskView__button {
  border: 0;
  border-radius: 5em;
  background-color: white;
}

.taskView__button__icon:hover {
  color: #0d898b;
}

.end__button {
  margin-top: 4em;
  padding-left: 3em;
  padding-right: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #0d898b;
  height: 20em;
  width: 25em;
  border-radius: 2rem;
  border: 2px solid white;
}

.card__title {
  font-family: "Roboto", sans-serif;
  color: #13070c;
  font-size: 190px;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #0d898b;
}
